<div class="card">
  <p><%= @player.name %>, here is a <%= @question.topic %> question:</p><br>
  <% if @question.correct_score === nil %>
    <p>But first, how much would you like to wager?</p><br>
</div>
<div class="bottom">
    <%= link_to "0", question_path(@question, :amount_waged => 0) %>
    <%= link_to "100", question_path(@question, :amount_waged => 100) %>
    <%= link_to "200", question_path(@question, :amount_waged => 200) %>
    <%= link_to "400", question_path(@question, :amount_waged => 400) %>
  <% else %>
    <p><%= @question.question %></p>
    <%= link_to @question.answer_1, question_path(@question, :user_answer => @question.answer_1) %>
    <%= link_to @question.answer_2, question_path(@question, :user_answer => @question.answer_2) %>
    <% if @question.answer_3 %>
      <%= link_to @question.answer_3, question_path(@question, :user_answer => @question.answer_3) %>
      <%= link_to @question.answer_4, question_path(@question, :user_answer => @question.answer_1) %>
    <% end %>
  <% end %>
</div>
