<div class="card">
  <h1>Oblivia</h1>
  <% if @number===2 %>
  <% end %>
</div>
<div class="bottom">
  <p>Player <span class="pulse"><%= @number %></span>, enter your name:</p>
  <%= form_for @player do |f| %>
    <%= f.text_field :name %><br>
    <!-- <%= f.label :color %>
    <%= f.text_field :color %>
    <%= f.label :nerd_type %>
    <%= f.text_field :nerd_type %> -->
    <%= f.text_field :number, value: @number, type: "hidden" %>
    <%= f.submit "Next", type: "hidden"%>
  <% end %>
</div>
