<h1>Oblivia</h1>
<h2>Trivia Made Fun</h2>
<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.label :nerd_type %>
  <%= f.text_field :nerd_type %>
  <%= f.text_field value=@number, type="hidden" %>
  <%= f.submit "Next"%>
<% end %>
