<!DOCTYPE html>
<html>
  <head>
    <title>ObliviaRails</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% @player1 = Player.find_by number: 1 %>
      <% @player2 = Player.find_by number: 2 %>
      <% if @player2 %>
        <div class="navbar">
          <ul>
            <li><%= @player1.name %>'s score: <%= @player1.score %></li>
            <li><%= @player2.name %>'s score: <%= @player2.score %></li>
          </ul>
        </div>
      <% end %>
      <%= yield %>

  </body>
</html>
